<!-- navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                {{#loginMember}}
                <li class="nav-item">
                    <a class="nav-link" href="/articles/index">ArticleList</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/board/boardList">BoardList</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/member/memberList">회원목록</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/member/logout">로그아웃</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/member/modifyMemberPw">비밀번호변경</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/member/removeMember">회원탈퇴</a>
                </li>
                {{/loginMember}}
                {{^loginMember}}
                <li class="nav-item">
                    <a class="nav-link" href="/member/joinMember">회원가입</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/member/login">로그인하기</a>
                </li>
                {{/loginMember}}
            </ul>
        </div>
    </div>
</nav>