<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.signapp.mapper.LoginMapper">


	<!-- 로그인 -->
	<select id="login"
		parameterType="com.example.signapp.dto.Employee"
		resultType="com.example.signapp.dto.Employee">
		SELECT employee_id AS employeeId, employee_name AS employeeName , employee_level AS employeeLevel
		FROM employee
		WHERE
		employee_name = #{employeeName}
		AND employee_pw = #{employeePw}
	</select>
	<!-- 회원가입 -->
		<insert id="joinEmployee" parameterType="com.example.signapp.dto.Employee">
    INSERT INTO employee (
        employee_name,
        employee_level,
        employee_pw
    )
    VALUES (
        #{employeeName},
        #{employeeLevel},
        #{employeePw}
    )
</insert>



</mapper>